<ActionBar title="Inicio">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <!-- <Label text="Inicio"></Label> -->
    <ActionItem icon="font://&#xf2f1;" class="fas" ios.position="left" (tap)="onLoadReadFavorito()"></ActionItem>
</ActionBar>
 
       <!-- <Label class="page__content-icon fas" text="&#xf015;"></Label> 
            <Label class="page__content-placeholder" text="Bienvenido"></Label> -->  

    <!-- <GridLayout class="page__content">
        <ScrollView>  
            <StackLayout>
                <Label class="page__content-icon fas" text="&#xf015;"></Label> 
                <label textWrap="true" class="h1 description-label bg-primary text-center" text="¡Importante!"></label>
                <label textWrap="true" class="h2 description-label" text="Estimado usuario te informamos que debido al alto volumen de envíos generados y a los protocolos de prevención del COVID-19, presentamos algunas novedades de operación."></label>
                <Label textWrap="true" class="h2 description-label" text="Estamos haciendo todo lo posible para superar rápidamente estas novedades." ></Label>
            </StackLayout> 
        </ScrollView>
    </GridLayout> -->
    <GridLayout class="p-15 m-15">
        <ListView class="list-group" [items]="this.resultados">    
            <ng-template let-x="item">
                <FlexboxLayout flexDirection="row" verticalAlignment="center" >
                    <Label class="fab" text="&#xf4d5;" style="width: 10%; color: #ffcc00;" verticalAlignment="center" ></Label>
                    <Label [text]="x" class="list-group-item-heading" verticalAlignment="center" style="width: 60%"></Label>
                    <Label class="-danger fas" text="&#xf2ed;" verticalAlignment="center" (tap)="deleteFavorito($event, x)"></Label>
                </FlexboxLayout>
            </ng-template> 
        </ListView> 
    </GridLayout> 
