<ActionBar title="Soporte">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <!-- <Label text="Soporte"></Label> -->
</ActionBar>

<StackLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf590;"></Label>
    <Label class="page__content-placeholder" *ngFor="let s of this.agentes.buscar()" [text]="s"></Label>
    <FlexboxLayout flexDirection="column">
        <TextField [text]="textFieldValue" hint="Nombre" maxLength="100" ></TextField>
    </FlexboxLayout>
    <Button text="Enviar Email" class="-outline btn btn-active" (tap)="onSendMail('Duhan')"></Button>
</StackLayout>